# GrDF account user name
GRDF_USERNAME=

# GrDF account password (avoid using special characters)
GRDF_PASSWORD=

# GrDF meter PCE identifier
GRDF_PCE_IDENTIFIER=

# Home Assistant instance host name
HOMEASSISTANT_HOST=homeassistant.local

# Home Assistant instance port number
HOMEASSISTANT_PORT=8123

# Home Assistant endpoint
HOMEASSISTANT_ENDPOINT=/api/websocket

# Home Assistant instance access token
HOMEASSISTANT_TOKEN=

# If true, connect using wss:// instead of ws://
HOMEASSISTANT_SECURE=false

# If false, disable TLS certificate verification (e.g. for self-signed certificates). Ignored if HOMEASSISTANT_SECURE is false.
HOMEASSISTANT_VERIFY_SSL=true
