logging:
  file: log/gazpar2haws.log
  console: true  
  level: debug
  format: '%(asctime)s %(levelname)s [%(name)s] %(message)s'

grdf:
  scan_interval: ${GRDF_SCAN_INTERVAL} # Number of minutes between each data retrieval (0 means no scan: a single data retrieval at startup, then stops).
  devices:
  - name: gazpar2haws # Name of the device in home assistant. It will be used as the entity_id: sensor.{{name}}.
    username: "!secret grdf.username"
    password: "!secret grdf.password"
    pce_identifier: "!secret grdf.pce_identifier"
    timezone: Europe/Paris
    last_days: ${GRDF_LAST_DAYS} # Number of days of data to retrieve
    reset: false # If true, the data will be reset before the first data retrieval. If false, the data will be kept and new data will be added.

homeassistant:
  host: "!secret homeassistant.host"
  port: "!secret homeassistant.port"
  endpoint: "${HOMEASSISTANT_ENDPOINT}"
  token: "!secret homeassistant.token"

pricing:
  vat:
    - id: reduced
      start_date: "2023-06-01" # Date of the price. Format is "YYYY-MM-DD".
      value: 0.0550
    - id: normal
      start_date: "2023-06-01" # Date of the price. Format is "YYYY-MM-DD".
      value: 0.20
  consumption_prices:
    - start_date: "2023-06-01" # Date of the price. Format is "YYYY-MM-DD".
      quantity_value: 0.07790  # Price per kWh (v0.4.0: renamed from 'value')
      price_unit: "€"          # Monetary unit (v0.4.0: renamed from 'value_unit')
      quantity_unit: "kWh"     # Energy unit (v0.4.0: renamed from 'base_unit')
      vat_id: normal
    - start_date: "2023-07-01"
      quantity_value: 0.05392
    - start_date: "2023-08-01"
      quantity_value: 0.05568
    - start_date: "2023-09-01"
      quantity_value: 0.05412
    - start_date: "2023-10-01"
      quantity_value: 0.06333
    - start_date: "2023-11-01"
      quantity_value: 0.06716
    - start_date: "2023-12-01"
      quantity_value: 0.07235
    - start_date: "2024-01-01"
      quantity_value: 0.06888
    - start_date: "2024-02-01"
      quantity_value: 0.05972
    - start_date: "2024-03-01"
      quantity_value: 0.05506
    - start_date: "2024-04-01"
      quantity_value: 0.04842
    - start_date: "2025-01-01"
      quantity_value: 0.07807
  subscription_prices:
    - start_date: "2023-06-01" # Date of the price. Format is "YYYY-MM-DD".
      time_value: 19.83        # Fixed price per month (v0.4.0: renamed from 'value')
      price_unit: "€"          # Monetary unit (v0.4.0: renamed from 'value_unit')
      time_unit: "month"       # Time unit (v0.4.0: renamed from 'base_unit')
      vat_id: reduced
    - start_date: "2023-07-01"
      time_value: 20.36
  transport_prices:
    - start_date: "2023-06-01" # Date of the price. Format is "YYYY-MM-DD".
      time_value: 34.38        # Fixed price per year (v0.4.0: renamed from 'value')
      price_unit: "€"          # Monetary unit (v0.4.0: renamed from 'value_unit')
      time_unit: "year"        # Time unit (v0.4.0: renamed from 'base_unit')
      vat_id: reduced
      # Alternative: quantity-based transport (new in v0.4.0)
      # quantity_value: 0.00194
      # quantity_unit: "kWh"
  energy_taxes:
    - start_date: "2023-06-01" # Date of the price. Format is "YYYY-MM-DD".
      quantity_value: 0.00837  # Price per kWh (v0.4.0: renamed from 'value')
      price_unit: "€"          # Monetary unit (v0.4.0: renamed from 'value_unit')
      quantity_unit: "kWh"     # Energy unit (v0.4.0: renamed from 'base_unit')
      vat_id: normal
    - start_date: "2024-01-01"
      quantity_value: 0.01637
